@use'../custom' as *;

.content{
    padding-bottom: 5rem;

    &__logo-box{
        max-width: 100%;
        height: 15rem;

        @include media-breakpoint-down(sm){
            text-align: center;
        }
    }

    .display{
        height: 10rem;
    }


    img{
        height: 5rem;
        width: 5rem;

        &:hover{
            filter: grayscale(120);
        }
    }

    i{
        font-size: 5rem;
        padding-bottom: 3rem;
        @include media-breakpoint-down(sm){
            font-size: 4.5rem;
        }

        &:hover{
            filter: grayscale(120);
        }
    }
}

