@use '../custom' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--introduction{
        font-weight: 700;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
    }

    &--description{
        text-transform: none;
        display: block;
        font-size: 1.5rem;

        @include media-breakpoint-up(lg){
            font-size: 1.4rem;
            display: inline-block;
        }
    }

    &--skills{
        font-size: 1.5rem;
    }
}

.display-3{
    font-family: 'Poppins', sans-serif;

    &--title{
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        display: inline-block;
        background-image: linear-gradient(to right,$primary,$secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.border-right{
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}

.display-5{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.display-5{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.display-1{
    font-size: 10rem;
    color: $primary;
}
